[user]
  # email = EMAIL
  name = Matt Bauman
[github]
  user = mbauman
  # token = TOKEN
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  rv = review
  st = status
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  svnstatus = !"git --no-pager log `git svn log --show-commit --oneline --limit=1 | awk '{print $3}'`..HEAD --oneline"
[branch "master"]
  remote = origin
  merge = refs/heads/master
[push]
  default = simple
[diff "pdf"]
  textconv = pdf2txt
[mergetool]
  keepBackup = true
[color]
  ui = auto
[merge]
  log = true
[rerere]
  enabled = 1
