$if Bash
    # Search history back and forward using page-up and page-down
    "\e[A": history-search-backward
    "\e[B": history-search-forward
	Control-p: history-search-backward
	Control-n: history-search-forward

	# Movement by word
	"\e[1;5C": forward-word
	"\e[1;5D": backward-word

    # Completion
    set match-hidden-files off
    set completion-query-items 350

    # Automatically expand history on space
    Space: magic-space

    # Use case-insensitive tab-completion
    set completion-ignore-case on

$endif

$include /etc/inputrc
